body{
    background-color: #573b24;
    padding: 0%;
    margin-left: 10px;
    margin-right: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#titleHead{
    text-align: center;
    color: aliceblue;
}

p{
    font-size: 20px;
}

h1{
    font-family: 'Lobster', cursive;
}

h2{
    font-family: 'Lobster', cursive;
    text-align: center;
}

h3{
    font-family: 'Lobster', cursive;
    text-align: center;
}

.highlight{
    display: inline-block;
    background-color: #d9945b;
}

#botoesBasicos{
    display: flex;
    justify-content: flex-end;
}

.explicacao01{
    display: flex;
    align-items: center;
}

.imagem01{
    width: 300px;
    height: 75%;
    border-radius: 20px;
    margin-right: 20px;
    opacity: 50%;
    transition: 0.5s;
}

.imagem01:hover{
    opacity: 100%;
    width: 350px;
    border-radius: 5px;
}

.conteudo{
    flex: 1;
    }

.hr_customizada{
    width: 450px;
    background-color: #7a4214;
    height: 2px;
    border: none;
}

.explicacao02{
    display: flex;
}

.item01{
    width: calc(33.3% - 20px);
    margin-right: 20px;
    text-align: center;
}

.a_imagem01{
    display: inline-block;
}

.imagem02{
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    opacity: 50%;
    border-radius: 20px;
    transition: 0.5s;
}

.imagem02:hover{
    width: 70%;
    opacity: 100%;
    border-radius: 0px;
}

.titulo01{
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #d9945b;
}

.titulo02{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.botaoNav{
    background-color: transparent;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    transition: 0.5s;
}

.botaoNav:hover{
    background-color: #d9945b;
    width: 120px;
}

#explicacao03 {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  #titulo03 {
    margin-right: 20px;
    text-align: right;
  }
  
  #imagem03 {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    opacity: 50%;
    transition: 0.5s;
  }
  
  #imagem03:hover{
    opacity: 100%;
    border-radius: 5px;
  }

#main{
    margin-left: 80px;
    margin-right: 80px;
    background-color: #e9e4de;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

footer{
    text-align: center;
    color: aliceblue;
}