body{
    background-color: #573b24;
    padding: 0%;
    margin-left: 10px;
    margin-right: 10px;
}

header{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #e4c8b2;
    font-size: large;
}

nav{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav_button{
    width: 100px;
    margin-right: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #e4c8b270;
    font-size: medium;
    color: rgb(228, 200, 178);
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s;
}

.nav_button:hover{
    width: 120px;
    background-color: #7a4214;
    border-color: #e4c8b2;
    color: white;
}

#main{
    background-color: #eee0d5;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
    height: 150vh;
}

#titulo_pagina{
    text-align: center;
    padding-top: 10px;
    font-size: larger;
    color: #302013;
}

#username{
    font-weight: bolder;
}

.explicacao01{
    display: flex;
    align-items: center;
}

.imagem01{
    width: 220px;
    height: 75%;
    border-radius: 20px;
    margin-right: 20px;
    opacity: 50%;
    padding-top: 20px;
    transition: 0.5s;
}

#pfp{
    width: 220px;
    height: 75%;
    border-radius: 100%;
    margin-right: 20px;
    opacity: 50%;
    transition: 0.5s;
}

#pfp:hover{
    opacity: 100%;
    width: 270px;
    border-radius: 5px;
}

.imagem01:hover{
    opacity: 100%;
    width: 350px;
    border-radius: 5px;
}

#adição{
    display: flex;
    justify-content: flex-end;
    margin-right: 85px;
}

#btn_add{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid transparent;
    background-color: #7a4214;
    color: #e4c8b2;
    font-weight: bold;
    text-align: center;
    font-size: 75px;
}

.imagem01:hover{
    opacity: 100%;
    width: 250px;
    border-radius: 5px;
}

#galeria{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(4, 15vw);
    gap: 5px;
    justify-items: center;
}

#galeria img{
    width: 300px;
    border-radius: 80%;
    opacity: 75%;
    transition: 0.5s;
}

#galeria img:hover{
    opacity: 100%;
    border-radius: 10%;
}

#galeria a{
    text-decoration: none;
    color: #302013;
}

#galeria p{
    text-align: center;
}

#navegacao{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

footer{
    text-align: center;
    color: #e4c8b2;
}