@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color: #573b24;
    padding: 0%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
    color: #18120c;
}

header{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #e4c8b2;
    font-size: large;
}

nav{
    display: flex;
    justify-content:flex-end;
    margin-right: 45px;
    margin-bottom: 5px;
}

.nav_button{
    width: 100px;
    margin-right: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #e4c8b270;
    font-size: medium;
    color: rgb(228, 200, 178);
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s;
}

.nav_button:hover{
    width: 120px;
    background-color: #7a4214;
    border-color: #e4c8b2;
    color: white;
}

h3{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #18120c;
}

#main{
    background-color: #eee0d5;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#formulario01{
    background-color: rgb(207, 163, 122);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
}

label{
    font-family: 'Lobster', cursive;
    color:#18120c;
}

.input01{
    width: 250px;
    height: 25px;
    background-color:#eee0d5;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#submit01{
    background-color:#eee0d5;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    transition: 0.5s;
}

#submit01:hover{
    background-color: #7a4214;
    color: #e4c8b2;
}

#recuperarsenha01{
    display: flex;
    justify-content: center;
}

.botao01{
    margin-left: 25%;
    margin-right: 25%;
    background-color: #eee0d5;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #18120c;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    transition: 0.5s;
    }

.botao01:hover{
    background-color: #7a4214;
    color: #e4c8b2;
}

hr{
    color: #7a4214;
    }

footer{
    text-align: center;
    color: #e4c8b2;
}

